/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/*Tony's Custom CSS*/

/* START OF MASTER PAGE*/
body {
    min-height: calc(100vh - 50px);
    position: relative;
}

body > .navbar {
    padding: 0 2rem;
}

#navbarNav {
    justify-content: space-between;
}

#name {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

body > div.container-fluid {
    display: flex;
    justify-content: center;
    align-items: stretch;

    min-height: calc(100vh - 60px - 50px);
    background-image: url(/Assets/texture.jpg);
}

body > div.container-fluid > div:first-child {
    width: 95%;
}

form {
    height: 100%;
    margin: auto;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 50px;
    position: absolute;
    bottom: -50px;
}

footer * {
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
}

.navbar, footer {
    background-color: #B0E2FF;
}

.navbar-brand {
    padding: 0;
}

.img-fluid {
    max-height: 60px;
}

/* START OF DEFAULT PAGE*/
.jumbotron {
    background-image: url(/Assets/marina-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 0; /*Removes the jumbotron's padding and gives it to the child div.*/
}

.jumbotron-div {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4rem 2rem; /*Replaces the jumbotron's padding*/
    border-radius: 0.3rem;
}
